@font-face {
  font-family: Outfit;
  src: local("./font/outfit-v11-latin-regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--color-slate-300);
}
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-900: hsl(218, 44%, 22%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-300: hsl(212, 45%, 89%);
  --font-oswald-regular: 400;
  --font-oswald-bold: 700;
  --box-shadow: 0px 1.563rem 1.563rem 0rem rgba(0, 0, 0, 0.05);

  --border-radius-1: 0.625rem;
  --border-radius-2: 1.25rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2.75rem;
}
.card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-2);
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
}
.card-wrapper {
  max-width: 18rem;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.card img {
  border-radius: var(--border-radius-1);
  max-width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  text-align: center;
  padding: 0 var(--spacing-200);
}
.card-content h1 {
  color: var(--color-slate-900);
  font-size: 1.375rem;
  line-height: 1.2; /* 26.4px */
}
.card-content p {
  color: var(--color-slate-500);
  font-style: normal;
  font-weight: var(--font-oswald-regular);
  line-height: 1.4; /* 21px */
  letter-spacing: 0.013em;
}
